// app global css in SCSS form
.text-light-gray {
  color: #ffffff80 !important;
}

.bg-light-gray {
  background: #ffffff80 !important;
}

.text-light-green {
  background-color: #dde1ce !important;
}

.bg-light-green {
  background-color: #dde1ce !important;
}

.text-hard-green {
  background-color: #2E5301 !important;
}

.bg-hard-green {
  background-color: #2E5301 !important;
}

.max-width-25rem {
  max-width: 25rem;
}

.break-spaces {
  white-space: break-spaces;
}
